input, textarea,select{
    width:100%;
    margin: 0 5px ;
    max-height: 180px;
}

.ng-invalid:not(form){
    border-left: 4px solid red;
}
.ng-valid:not(form){
    border-left: 4px solid green;
}
td{
    padding: 7px;
}