<button (click)="onSaveProduct()" class="btn btn-success">Add Product</button>
<div class="row" id="row">
    <div class="col-sm-3" *ngFor="let p of products" >
<div class="card"  id="card">
    <img class="card-img-top " [src]="download+p.image" alt="image" (click)="viewImage(p.image)">
    <div class="card-body" (click)="onProductSelected(p)" id="body">
        
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.description}}</p>
      <p class="card-text">Price: {{p.price | currency:'USD'}}</p>
      
    
    </div>
    <button 
      class="btn btn-danger"
      mwlConfirmationPopover
      [popoverTitle]="popoverTitle" 
      [popoverMessage]="popoverMessage" 
      placement="top" 
      (confirm)="onDeleteProduct(true,p)" 
      (cancel)="onDeleteProduct(false,p)"  
      >Delete Product
      </button>
      <button class="btn btn-primary" (click)="onUpdateProduct(p)">Update</button>
    
  </div>
</div>
</div>





<div
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()"
>
