<table class="table table-bordered" >
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Products</th>
            <th>Note</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of orders">
            <td>{{o.id}}</td>
            <td><ul>
                <li>Name:{{o.customer.name}}</li>
                <li>Address:{{o.customer.address}}</li>
                <li>Phone:{{o.customer.phone}}</li>
                <li>Email:{{o.customer.email}}</li>
                <li>City:{{o.customer.city}}</li>
            </ul></td>
            <td><ol>
                <li *ngFor="let p of o.orderProducts">
                     {{p.product.name}} :{{p.product.price | currency:"USD"}} * {{p.quantity}}
                </li>
            </ol></td>
            <td>{{o.note}}</td>
            <td>
                {{o.price | currency:"USD"}}
            </td>
        </tr>
    </tbody>

</table>
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
  >
  </div>