<div class="row">
    <div class="col-sm-3" *ngFor="let p of products" id="card">
<div class="card" style="width: 18rem;" >
    <img class="card-img-top " [src]="download+p.image" alt="image" (click)="viewImage(p.image)">
    <div class="card-body" (click)="onProductSelected(p)">
        
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.description}}</p>
      <p class="card-text">Price: {{p.price}} $</p>
    
    </div>
    <button class="btn btn-primary">Add To Cart</button>
  </div>
</div>
</div>





<div
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()"
>