

#card{
    margin: 10px 0 ;
    border-radius: 3px 3px 0 0;
    text-align: center;
}


button{
    margin: 5px;
    max-width: 130px;
    align-self: center;
}
img{
    min-width:500;
    height:200px;

}
#row{
    padding: 0 10px;
}
#card:hover{
    box-shadow: 5px 5px 15px gray;
}


