<form #confirmForm="ngForm" (ngSubmit)="!confirmForm.invalid && onConfirm()">
    <table class="table">
        <tr>
            <td>Your Name:</td>
            <td><input type="text" [(ngModel)]="order.customer.name" name="customerName" #seller="ngModel" [pattern]="letterPattern" required></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" [(ngModel)]="order.customer.phone" name="customerPhone"  placeholder="+994505555555" [pattern]="phonePattern" #pNumber="ngModel" required maxlength=20 ></td>
        </tr>
        <tr>
            <td>Address :</td>
            <td><input type="text" [(ngModel)]="order.customer.address" name="customerAddress" required></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" [(ngModel)]="order.customer.city" name="customerCity"  #city="ngModel" [pattern]="letterPattern" required></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="email" [(ngModel)]="order.customer.email" [pattern]="emailPattern" name="customerEmail"
                    #email="ngModel" placeholder="huseynhuseynli1234@gmail.com" required></td>
        </tr>
        <tr>
            <td>Note :</td>
            <td><input type="text" [(ngModel)]="order.note" name="orderNote" ></td>
        </tr>
        
        <tr>
            <div *ngIf="email.errors?.pattern">
                Email is not valid.
            </div>
            <div *ngIf="pNumber.errors?.pattern">
                Phone number is not valid.
            </div>
            <div *ngIf="city.errors?.pattern || seller.errors?.pattern">
                City or seller is not valid. You must only use English letters.
            </div>
        
        

        <td *ngIf="confirmForm.valid"><button class="btn btn-success" type="submit" mat-dialog-close >Confirm</button></td>
        </tr>
    </table>

</form>