<button (click)="onSaveProduct()" class="btn btn-success">Add Product</button>
<button (click)="onDeleteProduct()" class="btn btn-danger">Delete</button>
<button (click)="onUpdateProduct()" class="btn btn-primary">Update</button>
<br>
<button (click)="loadRows()">Refresh</button>

<input placeholder="Search" [(ngModel)]="searchText" type="text" (keyup)="quickSearch()" class="search"/>

<ag-grid-angular
   #agGrid
   style="width: 100%;
height: 500px;"
   class="ag-theme-balham"
   [rowData]="products"
   [columnDefs]="columnDefs"
   pagination="true"
   rowSelection="multiple"
   [animateRows]="true"
[enableColResize]="true"
   (gridReady)="onGridReady($event)"  
[floatingFilter]="true"
   >
</ag-grid-angular>
<hr>

