<button (click)="onSaveCategory()" class="btn btn-success">Add Category</button>
<button (click)="onSaveProduct()" class="btn btn-success">Add Product</button>

<br>
<button (click)="loadRows()">Refresh</button>
<!-- 
<input placeholder="Search" [(ngModel)]="searchText" type="text" (keyup)="quickSearch()" class="search"/> -->

<!-- <ag-grid-angular
   #agGrid
   style="width: 100%;
height: 500px;"
   class="ag-theme-balham"
   [rowData]="products"
   [columnDefs]="columnDefs"
   pagination="true"
   rowSelection="multiple"
   [animateRows]="true"
[enableColResize]="true"
   (gridReady)="onGridReady($event)"  
[floatingFilter]="true"
   >
</ag-grid-angular> -->

<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger" id="product_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Category</th>
      <th>City</th>
      <th>Seller</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Operations</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td><img [src]="download+p.image" [alt]="p.image" (click)="viewImage(p.image)"></td>
      <td>{{ p.price }}</td>
      <td>{{ p.category.name }}</td>
      <td>{{ p.city }}</td>
      <td>{{ p.seller }}</td>
      <td>{{ p.phone }}</td>
      <td>{{ p.email }}</td>
      <td>
         <button 
class="btn btn-danger"
mwlConfirmationPopover
[popoverTitle]="popoverTitle" 
[popoverMessage]="popoverMessage" 
placement="top" 
(confirm)="onDeleteProduct(true,p)" 
(cancel)="onDeleteProduct(false,p)"  
>Delete Product
</button>
         <button (click)="onUpdateProduct(p)" class="btn btn-primary">Update</button>
      </td>
    </tr>
  </tbody>
</table>
<hr>

